/* buen dia profesor espero que pueda entender este codigo gracias */

/* reseteamos todos los margenes como internos y externos */
*{
     padding: 0;
     margin: 0;
}  

/* dandole un color de fondo a la pagina */
body{
     background: rgb(173, 83, 83);
}

/* establecemos el tamanio de nuestro sitio web el ancho a 960px de toda nuestra pagina y lo centramos*/
.container{
     width: 960px;
     margin: 10px auto;   
     background: #7299FE; 
}

/* colocando el tamanio de altura nuestra seccion banner */
.banner{
     height: 525px;
}
/* es el titulo de nuestra seccion banner con un tamanio de fuente, margenes para su ubicacion,tipo de letra, color de letra*/
.codigo{
     margin-left: 6em;
     margin-top: 36px;
     position: absolute;
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 64px;
     line-height: 75px;
     color: #FFFFFF;
}

/*dando forma al cuadro en el que va nuestro saludo*/
.subtitulo{
     position: absolute;
     width: 340px;
     top: 270px; 
     padding: 10px;
     margin-left: 52px;
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
      font-size: 30px; 
     line-height: 42px; 
     color: #FFFFFF;
     background: rgba(114, 153, 254, 0.5);
} 

/* habilidades */

/* el alto de nuestro seccion skills */
.skills{
     height: 424px;  
     background: #7299FE; 
}

/* establecemos todos los h2 para de todas las secciones con los siguientes parametros tanto como centrado, tipo de texto, tamanio de texto, etc */
 h2{
     text-align: center;
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 36px;
     line-height: 42px;
     color: #FFFFFF;
     padding: 27px;
}

/* cada habilidad y su porcentaje tendra un tamanio es una cuadro que estaran separdo y puestos en forma lineal y consecutivos hacia abajo eso se hara en todas las habilidades*/
.bar_title {
     margin-left: 104px;
     display: inline-flex;
     margin-bottom: 50px;
}

/*colocamos una linea color blanco con estas caracteristicas  */
.bar{
     position: absolute;
     width: 364px;
     height: 17px;
     margin-top: 30px;
     background: white;
}

/* tamanio y color de la barra de color blanco para toda las habilidades */
.bar_title h3{
     width: 300px;
     color: white;
}
/* en esta seccion colocamos el porcentaje que tenemos en todas las habilidades */
.html{
     width: 268px;
     height: 17px;
     background-color: black;
}

.java{
     width: 237px;
     height: 17px;
     background-color: black;
}

.css{
     width: 210px;
     height: 17px;
     background-color: black;
}

.react{
     width: 122px;
     height: 17px;
     background-color: black;
}
.angular{
     width: 137px;
     height: 17px;
     background-color: black;
}

.python{
     width: 182px;
     height: 17px;
     background-color: black;
}

.figma{
     width: 182px;
     height: 17px;
     background-color: black;
}

.node{
     width: 151px;
     height: 17px;
     background-color: black;
}


/*Nuestros servicios */


/* color y tamanio de nuestra seccion de servicios */
.servicios{
     background:#FB7171;
     height: 424px;
}

/* cada imagen y tesxto lo centramos  */
.item{
     height: 70px;
     width: 250px;
     margin:20px;
     display: inline-flex;
     text-align: center;
}

/* centramos las imagenes dandole la forma circular/ */
.item img{
     margin: 0px auto;
     width: 50px;
     height: 50px;
     border-radius: 100%;
}

/* las palabras le damos un color blanco centrandolo y con margenes */
.web{
     position: absolute;
     margin-top:70px;
     margin-left: 75px;
     text-align: center;
     color: white;
}

/* portafolio */


/* en esta seccion de portafolio le asignamos el tipo de letra, tamanio, fuente y lo centramos */
.portafolio{
     text-align: center;
     padding-top: 42px;
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 36px;
     line-height: 42px;
     background:#FFD233;;
     height: 424px;
     color: #FFFFFF;
}


/* las imagenes tendran una separacion para poder ser ubicadas */
.items_img{
      margin:0px 90px;
}


/*  */
.items_img img{
     margin-top: 46px;
     position: relative;
     width: 140px;
     height: 92px;
     margin-right:11px;
}

/* clientes */


/* le damos una tamanio de esta seccion clientes y un color de fondo */
.clients{
     height: 258px;
     background: #3F4E62;
}

/* alineamos nuestro imagenes de nuestros clientes con un margin de separacion  */
.items_cli{
     float: left;
     margin-left: 70px;
}

.items_cli img{
     margin-right: 24px;
}

/* contacto */

/* en esta seccion de contacto le damos su tamanio y color de fondo  */
.contact{
     height: 578px;
     background: #16A085;
}

/* ubicacaion del formulario */
.form{
     margin:0px  100px;
}

/* le damos las carcteristicas a nuestros input de text  emaily tamanio de fondo */
input[type="text"],input[type="email"]{
     width: 363px;
     position: relative;
     height: 59px;
     margin-top: 33px;
}

.apellido, .fono{
     float: right;
}
textarea{
     width: 759px;
     height: 112px;
     resize: none;
     margin-top:33px;

}
/* caracteristicas a nuestro boton de submit */
button {
     background-color: #233451;
     display: block;
     margin: 0px auto;
     width: 167px;
     height: 56px;
     margin-top: 45px;
     font-family: Roboto;
     font-style: normal;
     font-weight: bold;
     font-size: 18px;
     line-height: 21px;
     color: #FFFFFF;
}